body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: aliceblue;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin: 20px 0;
}
